<section class="sct-color-1 slice">
<div class="container auto">
<div class="row">
<div class="col-sm-3">
  <h2>User info</h2>
  <%= attachment_image_tag current_user, :profile_image_id, :fill, 60, 60, fallback:"no_image.jpg", format:'jpeg', class: "img-circle pull-left profile-thumb" %>
  <table class="table">
    <tr>
      <th>name</th>
      <th><%= current_user.name %></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th><%= current_user.introduction %></th>
    </tr>
  </table>
  </div>
  </div>
  <% if current_user.id == user.id %>
    <%= link_to edit_user_path(user), class:"edit_user_#{current_user.id}" do %>
       <button type="button" class="btn btn-default" style="width:24%"><i class="glyphicon glyphicon-wrench"></i></button>
    <% end %>
  <% end %>
    <%= form_for(book) do |f| %>
      <h2>New Book</h2>
        <h5 class="field">Title</h5>
          <%= f.text_field :title, class: "booktitle" %>
        <h5 class="field">opinion</h5>
        <%= f.text_area :body, class: "bookbody"%>
        <p><%= f.submit "Create Book", class:"btn btn-primary btn-sm btn-base1 mt-20" %></p>
    <% end %>
    </div>
</div>
</section>


